* {
    padding: 0;
    margin: 0;
  }
  body {
    box-sizing: border-box;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
.img-fluid{
    max-width: 100%;
    height: auto;
}
  
  .nav-ul-l ul {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 20px;
    background: #F9F9F9;
    padding: 24px 52px;
    border-radius: 32px;
  }
  .nav-ul-l li {
    list-style: none;
  }
  .nav-ul-l a {
    text-decoration: none;
    color: #242331;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
  }
  .new-btn {
    font-family: "Nunito", sans-serif;
    background-color: #5236FF;
    color: #FFFF;
    padding: 25px 54px;
    border-radius: 39px;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }

  .news-container{
    margin-top: 171px;
    display: flex;
    justify-content: center;
  }
  .news-text h1{
    display: flex;
    justify-content: center;
    font-size: 73px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
  }
  .news-text h3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #797979;
    max-width: 650px;
    margin-top: 20px;
  }

  .articles-container {
    margin-top: 40px;
  }
  .articles-post {
    display: flex;
    gap: 40px;
    margin-top: 30px;
  }
  .articles-1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .articles-2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .articles-post h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .articles-post h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .articles-post h2 {
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .read {
    font-size: 18px;
    font-weight: 400;
    color: #5236ff;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    text-decoration: underline;
  }
  .articles-no-container {
    margin-top: 40px;
  }
  .articles-no-post {
    display: flex;
    gap: 40px;
    margin-top: 30px;
  }
  .articles-no-1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .articles-no-2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .articles-no-post h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .articles-no-post h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .articles-no-post h2 {
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .articles-no-1-container {
    margin-top: 40px;
  }
  .articles-no-1-post {
    display: flex;
    gap: 40px;
    margin-top: 30px;
  }
  .articles-no-1-1 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .articles-no-1-2 {
    background-color: #f9f9f9;
    padding: 20px;
    border: none;
    border-radius: 20px;
  }
  .articles-no-1-post h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .articles-no-1-post h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }
  .articles-no-1-post h2 {
    font-size: 22px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
    line-height: 100%;
  }

  .line{
    border: 1px solid #F9F9F9;
    margin-top: 200px;
    margin-bottom: 154px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 200px;
  }
  .coulmn-1 h4 {
    margin-top: 26px;
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
  }
  
  .mail-logo {
    display: flex;
    gap: 10px;
    margin-top: 30px;
  }
  .mail-logo h3 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
  }
  .phone-logo {
    display: flex;
    gap: 10px;
    margin-top: 30px;
  }
  .phone-logo h3 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
  }
  .coulmn-2 {
    display: flex;
    gap: 40px;
  }
  .coulmn-2 h1 {
    font-size: 30px;
    font-weight: bold;
    color: #242331;
    font-family: "Nunito", sans-serif;
  }
  .coulmn-2 h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  .coulmn-3 h1 {
    font-size: 30px;
    font-weight: bold;
    color: #242331;
    font-family: "Nunito", sans-serif;
  }
  .coulmn-3 h5 {
    font-size: 18px;
    font-weight: 400;
    color: #797979;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  
  .coulmn-4 {
    background-color: #f9f9f9;
    margin-top: 50px;
    padding: 15px;
    border: none;
    border-radius: 20px;
  }
  .coulmn-4 button {
    font-family: "Nunito", sans-serif;
    background-color: #efecff;
    color: #5236ff;
    padding: 14px 27px;
    border-radius: 32px;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }
  .coulmn-4 h1 {
    font-size: 30px;
    font-weight: bold;
    color: #242331;
    font-family: "Nunito", sans-serif;
    line-height: 100%;
    margin-top: 30px;
  }
  .coulmn-4 h4 {
    font-size: 18px;
    font-weight: bold;
    color: #797979;
    font-family: "Nunito", sans-serif;
    line-height: 100%;
    margin-top: 20px;
  }
  .last-button {
    display: flex;
    margin-top: 30px;
    gap: 10px;
  }
  .last-button .apple {
    font-family: "Nunito", sans-serif;
    background-color: #242331;
    color: #ffffff;
    padding: 14px 20px;
    border-radius: 32px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .last-button .vector {
    font-family: "Nunito", sans-serif;
    background-color: #d3d3d3;
    color: #ffffff;
    padding: 14px 27px;
    border-radius: 32px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .footer-container .line-1{
    margin-top: 32px;
    border: 1px solid #E3E3E3;
  }
  
  .line-3{
    margin-top: 51px;
    border: 1px solid #E3E3E3;
    margin-bottom: 35px;
  }
.copyright-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.copyright-text h2{
    font-size: 22px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #797979;
}
.copy-imgs{
    display: flex;
    gap: 25px;
}


  @media (min-width:320px){
    .container{
     max-width: 320px;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:576px){
    .container{
     max-width: 576px;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:768px){
    .container{
     max-width: 768px;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:992px){
    .container{
     max-width: 992px;
     width: 100%;
     margin: 0 auto;
     padding: 0;
    }
  }
  @media (min-width:1200px){
    .container{
     max-width: 1200px;
     margin: 0 auto;
     padding: 0;
    }
  }